@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --linear: linear-gradient(115deg, #F97316 -9.98%, #E8D2C0 80.81%);
  --slate-100: rgba(241, 245, 249, 1);
  --slate-200: rgba(226, 232, 240, 1);
  --slate-300: rgba(203, 213, 225, 1);
  --slate-400: rgba(148, 163, 184, 1);
  --slate-500: rgba(100, 116, 139, 1);
  --slate-600: rgba(71, 85, 105, 1);
  --slate-700: rgba(51, 65, 85, 1);
  --slate-800: rgba(30, 41, 59, 1);
  --slate-900: rgba(15, 23, 42, 1);
  --brand-100: rgba(255, 247, 237, 1);
  --brand-200: rgba(254, 215, 170, 1);
  --brand-300: rgba(253, 186, 116, 1);
  --brand-400: rgba(251, 146, 60, 1);
  --brand-500: rgba(251, 146, 60, 1);
  --brand-600: rgba(234, 88, 12, 1);
  --brand-700: rgba(194, 65, 12, 1);
  --brand-800: rgba(154, 52, 18, 1);
  --danger-100: rgba(254, 226, 226, 1);
  --danger-200: rgba(254, 202, 202, 1);
  --danger-300: rgba(252, 165, 165, 1);
  --danger-400: rgba(248, 113, 113, 1);
  --danger-500: rgba(239, 68, 68, 1);
  --danger-600: rgba(220, 38, 38, 1);
  --danger-700: rgba(153, 27, 27, 1);
  --danger-800: rgba(153, 27, 27, 1);
  --primary-black-100: rgba(113, 113, 122, 1);
  --primary-black-200: rgba(82, 82, 91, 1);
  --primary-black-300: rgba(63, 63, 70, 1);
  --primary-black-400: rgba(64, 64, 64, 1);
  --primary-black-500: rgb(31, 31, 31);
  --primary-white-600: rgb(160, 160, 160);
  --primary-white-500: rgba(248, 248, 255, 1);
  --primary-white-400: rgba(245, 245, 245, 1);
  --primary-white-300: rgba(248, 249, 245, 1);
  --primary-white-200: rgba(255, 250, 250, 1);
  --primary-white-100: rgba(255, 255, 255, 1);
  --bg: #060606;
  --link-hover: #303030;
  --link-white-hover:rgb(235, 235, 235);
  --info-bg-color: #181818;
  --input-bg-color: rgb(44, 44, 44);
  --info-bg-white: rgb(216, 216, 216);
  --input-bg-white: rgb(233, 233, 233);
  --bg-white: rgb(238, 238, 238);
}


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  color: var(--primary-black-200);
  margin: 0;
  background-color: var(--bg-white);
}

nav {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--brand-600);
  position: relative;
  transition: 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
}

section,
div,
p,
li,
span {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

svg {
  font-size: 24px;
  cursor: pointer;

}

path {
  color: var(--primary-black-500);
}